---
import { markdownify } from "@lib/utils/textConverter";
import { Image } from "@astrojs/image/components";
const { banner } = Astro.props;
const { title, button, image, content } = banner;
---

<section class="section banner relative">
  <style>
    @keyframes flipAnimation {
      0% {
        transform: perspective(800px) rotateY(0);
      }
      50% {
        transform: perspective(800px) rotateY(180deg);
      }
      100% {
        transform: perspective(800px) rotateY(360deg);
      }
    }
  </style>
  <div class="container">
    <div class="row items-center">
      <div class="lg:col-6">
        <h1
          class="banner-title"
          set:html={markdownify(title)}
          style="color:#7D4F50; "
        />

        <p
          class="mt-6 text-justify"
          set:html={markdownify(content)}
          style="color:#7D4F50; "
        />

        {
          button.enable && (
            <a class="btn btn-white mt-8" href={button.link}>
              {button.label}
            </a>
          )
        }
      </div>
      <div class="lg:col-6">
        <Image
          class="w-full max-w-[100%] object-contain"
          alt="banner"
          src={image}
          width={603}
          height={596}
          style=" animation: flipAnimation 2s linear 1; transform-style: preserve-3d;"
        />
      </div>
    </div>
  </div>

  <Image
    class="banner-shape absolute -top-28 right-0 -z-[1] w-full max-w-[25%]"
    alt="banner"
    src="/images/btik.png"
    width={500}
    height={476}
  />
</section>
