---
import Base from "@layouts/Base.astro";
import PageHeader from "@components/PageHeader.astro";
import TabelDanGrafik from "@layouts/function-components/simitra/TabelDanGrafik.jsx";
import TabelRiwayatPengajuan from "@layouts/function-components/simitra/TabelRiwayatPengajuan.jsx";
import { getEntryBySlug } from "astro:content";

const info_publik = await getEntryBySlug("info-publik", "index");

// const rows = await import('../config/simitra/rekomendasi-kegiatan.json');
const page_data = {
  ...info_publik.data,
  content: info_publik.body,
};
---

<Base
  title={info_publik.data.title}
  meta_title={info_publik.data.meta_title}
  description={info_publik.data.description}
  image={info_publik.data.image}
>
  <section class="page-hero pb-6 pt-16">
    <div class="container">
      <div class="page-hero-content mx-auto max-w-[768px] text-center">
        <PageHeader page_data={page_data} />
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container mb-10 h-full rounded-xl bg-white">
      <TabelDanGrafik client:load />
    </div>
    <div class="container h-full rounded-xl bg-white">
      <TabelRiwayatPengajuan client:load />
    </div>
  </section>
</Base>
